body {
	font-family:"Noto Serif JP", serif;
}
.nav {
	float:left;	
	width:15%;
	border-right:2px solid black;
	margin-left:2em;
	position:fixed;
}
.nav h3 {
	font-weight:400;
}
.container {
	width:65%;
	margin-top:2em;
	margin-left:25%;
}
.newswrapper {

}
.newswrapper h2 {
	font-size:24pt;
	font-weight:500;
}
.news-links {
	font-size:16pt;
	font-weight:400;
}
.news-link {
	margin:0.5em auto;
}
.link-title {

}
.link-label {
	font-weight:200;
	color:#999;
	font-size:12pt;
}