{% extends "layout.html" %}
{% block title %}Index{% endblock %}
{% block head %}
  {{ super() }}

{% endblock %}
{% block content %}
<div class="newscontainer">
	{% for topic in topics_list %}
	<div class="newswrapper">
		<h2><a href= "/topic_page/{{ topic}}">{{ topic }}</a></h2>
		<div class="news-links">
			<div class="news-link">
				<div class="link-title"><a href= {{articles_list[loop.index0][0]['url']}} target="_blank"> {{ articles_list[loop.index0][0]['title'] }} </a></div>
				<div class="link-label">{{ articles_list[loop.index0][0]['source']['name'] }}</div>
				<div class="news-summary">{{ articles_list[loop.index0][0]['description'] }}</div>
			</div>
		</div>
	</div>
	{% endfor %}
{% endblock %}
