<html>
	<head>
		{% block head %}
		<link href="https://fonts.googleapis.com/css?family=Noto+Serif+JP:200,400,500,700&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="/static/css/style.css">
		<script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
		<title>{% block title %}{% endblock %}</title>
		{% endblock %}
	</head>
	<body>
		<div class="nav">
			<h2 onclick="toggle();">Hot Topics</h2>
			<div class="dropdown" id="dropdown">
				{% for topic in topics_list %}
				<h3><a href="/topic/{{ topic }}">{{ topic }}</a></h3>
				{% endfor %}
			</div>
			<h2><a href="/viz">Sources</a></h2>
		</div>
		<script>
			document.getElementById("dropdown");
			var state = 1;
			function toggle() {
				if(state == 1) {
					$(".dropdown").slideUp();
				} else {
					$(".dropdown").slideDown();
				}
				state*= -1;

			}
		</script>
		<div class="container">
			{% block content %}
			{% endblock %}
		</div>
	</body>
</html>