<html>
	<head>
		{% block head %}
		<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700|Noto+Serif+JP:400,700&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="../static/css/style.css">
		<link rel="stylesheet" href="../static/css/icomoon.css">
		<script
  src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
  integrity="sha256-pasqAKBDmFT4eHoN2ndd6lN370kFiGUFyTiUHWhU7k8="
  crossorigin="anonymous"></script>

		<title>{% block title %}{% endblock %}</title>
		{% endblock %}
	</head>
	<body>
		<div class="header">
			<div class="logo"><h1>News Aggregator</h1></div>

			<div class="search"><input id="searchbar" type="text" placeholder="Try 'articles about bitcoin from the left in the last 10 days'"></div>

			<div class="graph-link">
				<span class="icon-stats-dots"></span>
			</div>
		</div>
		
		<div class="container">
			{% block content %}
			{% endblock %}
		</div>

		<script>
			$("#searchbar").keydown(function(e) {
				if(e.keyCode == 13) {
					window.location.href = "/query/"+$(this).val();
				}
			});
			function filter(streamid) {
				console.log("filtering on "+streamid);
				var filters = [];
				$(`.filterlist[data-streamid="${streamid}"]`).children().each(function() {
					filters.push($(this).text());
				});
				console.log(filters);
				var stream = $(`.stream[data-streamid="${streamid}"]`);
				stream.children().each(function() {
					$(this).show();
					for(var i=0; i<filters.length; i++) {
						if(filters[i].substring(0,6) == "within") {
							number_days = parseInt(filters[i].split()[1]);
							// testvar = $(this).children();
							var daystr = $(this).children().get(2).textContent.split("| ")[1].split(" ");
							if(daystr[1] == "days" || daystr[0] == "day") {
								if(parseInt(daystr[0]) > parseInt(filters[i].split(" ")[1])) {
									$(this).hide();
								}
							}
						} else {
							if($(this).text().toLowerCase().match(new RegExp(filters[i].toLowerCase()),"g") == null) {
								$(this).hide();
							}
						}
					}
				});
			}
			$(".filter-input").keypress(function(e) {
				if(e.keyCode == 13) {
					var myfilter = $(this).val();
					var filtertext = myfilter;

					if(myfilter.match(/[0-9]+ days*/) != null) {
						filtertext = `<b>within</b> ${myfilter}`;
					}
					var streamid = $(this).attr("data-streamid");
					var filterspan = $(`<span>${filtertext}</span>`).click(function() {
						var myid = $(this).parent().attr("data-streamid");
						$(this).remove();
						filter(myid);
					});
					$(`.filterlist[data-streamid="${streamid}"]`).append(filterspan);
					$(this).val("");
					filter(streamid);
				}
			});
		</script>
	</body>
</html>