{% extends "layout.html" %}
{% block title %}Index{% endblock %}
{% block head %}
{{ super() }}
<style>

	.container {
		float:left;	
		width:50%;
		height:70%;
		border-left:2px solid black;
		border-bottom:2px solid black;
		margin-left:30em;
		position:fixed;
	}

</style>

{% endblock %}
{% block content %}
<body>
<h3>Today is going to be a good day!</h3>
<script src="https://d3js.org/d3.v5.min.js"></script>
<script type="text/javascript">
	d3.select('h3').style('color', 'steelblue');
	d3.select('h3').style('font-size', '24px');
</script>
{% endblock %}